<html>
  <head></head>
  <body>
      <h1> Add an Artist </h1>
      <form method="POST" action="/artists/create-artist">
      <label> Name: </label> 
      <input type="text" name="name"> <br>
      <label> Genre: </label> 
      <input type="text" name="genre"> <br>

      <input type="submit", value="submit the form">
      </form>
  </body>
</html>