<html>
  <head></head>
  <body>
      <h1> Add an Album </h1>
      <form method="POST" action="/albums/create-album">
      <label> Title: </label> 
      <input type="text" name="title"> <br>
      <label> Release Year: </label> 
      <input type="text" name="release_year"> <br>
      <label> Artist ID: </label> 
      <input type="text" name="artist_id"> <br>
      
      <input type="submit", value="submit the form">
      </form>
  </body>
</html>